pkgbase = ayugram-plengine-git
	pkgdesc = AyuGram Desktop with the cross-platform PLEngine plugin system
	pkgver = 6.7.5.PLEngine.0.1.1.r4.g4cbb582
	pkgrel = 2
	url = https://github.com/okhsunrog/AyuGramDesktop-PLEngine
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = boost-libs
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = fmt
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = jemalloc
	makedepends = libtg_owt
	makedepends = ninja
	makedepends = range-v3
	makedepends = tl-expected
	depends = abseil-cpp
	depends = ada
	depends = ffmpeg
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = hunspell
	depends = kcoreaddons
	depends = libavif
	depends = libdispatch
	depends = libgcc
	depends = libheif
	depends = libjpeg-turbo
	depends = libjxl
	depends = libpipewire
	depends = libstdc++
	depends = libvpx
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxcb
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxtst
	depends = lz4
	depends = minizip-ng
	depends = openal
	depends = openh264
	depends = openssl
	depends = opus
	depends = pipewire
	depends = protobuf
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = rnnoise
	depends = xcb-util-keysyms
	depends = xxhash
	depends = zlib
	optdepends = webkit2gtk-4.1: embedded browser features using GTK 3
	optdepends = webkitgtk-6.0: embedded browser features using GTK 4
	optdepends = xdg-desktop-portal: desktop integration
	provides = ayugram-desktop
	conflicts = ayugram-desktop
	options = !debug
	options = !lto
	source = AyuGramDesktop-PLEngine::git+https://github.com/okhsunrog/AyuGramDesktop-PLEngine.git#branch=linux-plengine
	source = telegram-tdlib::git+https://github.com/tdlib/td.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ayugram-plengine-git
